.zpmenu a,img{border:0;}
.zpmenu a{color:#333;text-decoration:none;}
.zpmenu a:hover{color:#3366cc;text-decoration:underline;}
/* zpmenu */
.zpmenu{border:#d8d7d8 1px solid;margin-top:20px;
    /*width:958px;*/
    width: 894px;
    display:inline;background:url(../img/accordion/zpmenu_bg.png) repeat-x;float:left;height:205px;overflow:hidden;position: absolute;bottom: 0px;left: 10px;
z-index: 50;top:255px;}
/*.zpmenu dl{width:958px;float:left;height:204px;_width:962px}*/
.zpmenu dl{width:894px;float:left;height:204px;_width:898px}
.zpmenu dt{width:64px;float:left;height:204px}
.zpmenu dt img{width:64px;display:block;float:left;height:204px;cursor:pointer}
.zpmenu dd{position:relative;width:446px;display:block;float:left;height:204px;overflow:hidden}
div.zpmenu dl#slider2 dd div.zpinfor{padding:12px 20px 0 20px;width:406px;display:inline;font:12px/21px "微软雅黑", "宋体";float:left;height:190px;overflow:hidden;}
.zpmenu dd h1{width:403px;float:left;font-size:18px}
.zpmenu dd span{display:inline-block;float:left;font-size:14px;margin-right:25px}
.zpmenu dd h2{border-bottom:#b4b4b4 1px dashed;padding-bottom:5px;width:403px;display:inline;float:left;color:#9b0f0f;font-size:14px}
.zpmenu dd ul{width:403px;float:left;height:130px;clear:both;overflow-y: scroll;overflow-x: hidden;}
.zpmenu dd ul li{line-height:24px;margin:0px 10px 0px 0px;display:inline;white-space:normal;float:left}
.zpmenu dd ul li.fm{
    display:block ;
    font-weight: bold;
    font-size: 12px;
    font-family: 宋体;
    float: none;
}
.zpmenu dd ul li.sm{
    display:inline ;
    font-weight: normal;
    font-size: 12px;
    font-family: 宋体;
    float: none;
    white-space: normal;
}