.book .even{
	background-image:url(../img/gradient-page-left.jpg);
	background-position:right top;
	background-repeat:repeat-y;
}
.book .odd{
	background-image:url(../img/gradient-page-right.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}

