.wrapper-lg {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}
.title {
    width: 100%;
    text-align: center;
    /*padding-top: 200px;*/
    color: #FFFFFF;
    position: absolute;
    top: 200px;
    left: 0px;
}
.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100px;
    background: #575756;
    color: #FFFFFF;
    width: 100%;
}
.language-choose a {
    color: #FFFFFF;
}
.language-choose {
    margin-left: 10%;
    float: left;
    font-size: 30px;
    line-height: 100px;
}
.co-info {
    float: right;
    margin-right: 5%;
    margin-top: 15px;
}