/*.content {*/
    /*position: absolute;*/
    /*top: 80px;*/
    /*width: 100%;*/
    /*height: 512px;*/
/*}*/
/*.cycle {*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: url("../img/bg.jpg");*/
    /*z-index: -9999;*/
/*}*/

/*菜单*/
.menu {
    position: absolute;
    left: 0px;
    top: 193px;
    width: 80px;
    height: 412px;
    /*background: rgba(255, 255, 255, 0.8);*/
}
.menu-item {
    position: absolute;
    left: 0px;
    min-width: 60px;
    line-height: 30px;
    font-family: SimHei;
    cursor: pointer;
    color: #FFFFFF;
    /*background: #c0000b;*/
    /*color: #ffffff;*/
}
#mPreface {
    top: 100px;
}
#mCatalog {
    top: 170px;
}
#mBook {
    top: 240px;
}


.content {
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 100px;
    position: absolute;
}
.panel {
    /*display: none;*/
}
#bookPanel {
    /*display: block;*/
    /*top: 120px;*/
    /*left: 200px;*/
    left: 100px;
    position: absolute;
}
#photoWallPanel {
    display: none;
    /*width: 700px;*/
    height: 100%;
    /*top: 10%;*/
    position: absolute;
}

#prefacePanel {
    display: block;
}

.loading-page {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 1111111;
}
.loading-page img {
    display: block;
    margin: auto;
}