
/* Index_Box */
#tbn{
    display: none;
}
#Index_Box{width:1042px;height:520px;  margin:0px 0 0px 0px;position:absolute;display: none;top:76px;overflow:visible;}
#Index_Box ul{position:relative;height:520px;overflow:visible;}
#Index_Box li{position:absolute;width:0;height:100%;z-index:0;cursor:pointer;overflow:visible !important;top:152px;left:10px;text-align: center; }
#Index_Box li img{width:100%;vertical-align:top;float:left;}
#boardPanel .loading{
    background:url(../img/TransparentLoading.gif) rgb(105,66,146) center  no-repeat;
}
#Index_Box li .loadingTable{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background: url("../img/transparent.png") repeat;
    display: none;
}
#Index_Box li .loadingTable td{
    text-align: center;
}
#Index_Box li .loadingTable img{
    width: auto;
    margin: 0 auto;
    float: none;
}
#Index_Box .prev, #Index_Box .next{display:none;}
.con{
    font-size: 50px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    line-height: 100%;
}
.navigator-content {
    position:absolute;
    bottom:10px;
    background:url(../img/panels/transparent_bg.png) repeat;
    padding:5px 0px;
    width: 1010px;
}
.navigator-wrapper{
    position:relative;
    z-index:10;
    height:106px;
    width:956px;
    overflow:hidden;
    color:#FFF;
    float:left
}
ul.navigator-wrap-inner{	top:0;	padding:0;	margin:0;	position:absolute;	width:1908px; }
ul.navigator-wrap-inner li{ cursor:hand; 	cursor:pointer;	list-style:none;	padding:0;	margin-left:0px;	overflow:hidden;	float:left;	display:block;	text-align:center;}
ul.navigator-wrap-inner li img{
    border:#666 solid 3px;
    width: 100px;
    height: 100px;
}
 ul.navigator-wrap-inner li.active img,
 ul.navigator-wrap-inner li:hover img {
    border:#A8A8A8 solid 3px;
    -moz-transition:border-color  ease-in-out 0.4s
}
 .navigator-content .button-next,
 .navigator-content .button-previous{
    display:block;
    width:22px;
    height:30px;
    color:#FFF;
    cursor:pointer;
    margin-top: 36px;
    overflow: hidden;
}
.button-previous {
    float:left;
    text-indent:-999px;
    margin-right:5px;
    background:url(../img/panels/arrow-l.png) no-repeat right center;
}
.button-next {
    float:left;
    text-indent:-999px;
    margin-left:5px;
    background:url(../img/panels/arrow-r.png) no-repeat left center;
}